@import "variables";
@import "defaults";

body {
  background: linear-gradient(45deg, $orangeish 30%, $redish);
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: $whiteish;
}

.header {
  min-height: 15vh;

  &__title {
    padding: 1rem 0;
    text-align: center;
  }
}

.wrapper {
  min-height: 85vh;
  padding-top: 1rem;

  .inputs {
    width: 100%;

    input, select {
      text-align: center;
      border: none;
      outline: none;
      padding: .5rem;
      appearance: none;
    }

    input:focus {
      background: $tealish;
      color: $whiteish;
    }

    .btn {
      border: none;
      padding: .5rem;
      color: $redish;
      background: #fff;
      cursor: pointer;
  
      &:hover {
        background: $redish;
        color: $whiteish;
      }
    }

    #addForm {
      width: 20rem;
      margin: 1rem auto;
      display: flex;
      justify-content: center;
      text-align: center;
    }
  
    .todo-filter-container {
      width: 20rem;
      margin: auto;
      text-align: center;
      position: relative;

      &:hover::after {
        background: $redish;
      }
    }

    .todo-filter-container::after {
      content: "\25BC";
      background: $orangeish;
      padding: .5rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
    }

    #todoFilter {
      width: 100%;
      cursor: pointer;
    }
  }

  #todoList {
    list-style: none;
    min-width: 20rem;
    margin: 1rem auto 0;
    padding: .5rem;
    color: #111;
    font-weight: bold;

    li.completed {
      opacity: .5;
    }

    li {
      width: 100%;
      display: flex;
      align-items: center;
      border-radius: 1.5rem;
      background: #fff;
      padding: .5rem;
      margin-bottom: .5rem;
      transition: opacity .5s ease;

      span {
        flex: 1;
        text-align: center;
      }

      .btn {
        cursor: pointer;
        border: none;
        padding: .5rem;
        border-radius: 50%;
        color: #fff;

        &:first-of-type {
          margin-right: .5rem;
        }

        i {
          pointer-events: none;
        }
      }

      .check-btn {
        background: lime;

        &:hover {
          background: $whiteish;
          color: lime;
        }
      }

      .remove-btn {
        background: $redish;

        &:hover {
          background: $whiteish;
          color: $redish;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .inputs {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #todoList {
    width: 50rem;
  }
}