@charset "UTF-8";
html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(45deg, #d69200 30%, #d30d0d);
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #cacaca;
}

.header {
  min-height: 15vh;
}
.header__title {
  padding: 1rem 0;
  text-align: center;
}

.wrapper {
  min-height: 85vh;
  padding-top: 1rem;
}
.wrapper .inputs {
  width: 100%;
}
.wrapper .inputs input, .wrapper .inputs select {
  text-align: center;
  border: none;
  outline: none;
  padding: 0.5rem;
  appearance: none;
}
.wrapper .inputs input:focus {
  background: #006e6e;
  color: #cacaca;
}
.wrapper .inputs .btn {
  border: none;
  padding: 0.5rem;
  color: #d30d0d;
  background: #fff;
  cursor: pointer;
}
.wrapper .inputs .btn:hover {
  background: #d30d0d;
  color: #cacaca;
}
.wrapper .inputs #addForm {
  width: 20rem;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  text-align: center;
}
.wrapper .inputs .todo-search-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.wrapper .inputs .todo-search-container .icon.delete:hover {
  color: #d30d0d;
  cursor: pointer;
}
.wrapper .inputs .todo-search-container .icon {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .inputs .todo-search-container .icon i {
  padding: 0.5rem;
}
.wrapper .inputs .todo-filter-container {
  width: 20rem;
  margin: auto;
  text-align: center;
  position: relative;
}
.wrapper .inputs .todo-filter-container:hover::after {
  background: #d30d0d;
}
.wrapper .inputs .todo-filter-container::after {
  content: "▼";
  background: #d69200;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.wrapper .inputs #todoFilter {
  width: 100%;
  cursor: pointer;
}
.wrapper #todoList {
  list-style: none;
  min-width: 20rem;
  margin: 1rem auto 0;
  padding: 0.5rem;
  color: #111;
  font-weight: bold;
}
.wrapper #todoList li.completed {
  opacity: 0.5;
}
.wrapper #todoList li.moved {
  opacity: 0;
  transform: translateX(20rem);
}
.wrapper #todoList li.filtered {
  display: none;
}
.wrapper #todoList li {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
  background: #fff;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  transition: opacity 0.5s ease, transform 1s ease;
}
.wrapper #todoList li span {
  flex: 1;
  text-align: center;
}
.wrapper #todoList li .btn {
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  color: #fff;
}
.wrapper #todoList li .btn:first-of-type {
  margin-right: 0.5rem;
}
.wrapper #todoList li .btn i {
  pointer-events: none;
}
.wrapper #todoList li .check-btn {
  background: lime;
}
.wrapper #todoList li .check-btn:hover {
  background: #cacaca;
  color: lime;
}
.wrapper #todoList li .remove-btn {
  background: #d30d0d;
}
.wrapper #todoList li .remove-btn:hover {
  background: #cacaca;
  color: #d30d0d;
}

@media screen and (min-width: 600px) {
  .inputs {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #todoList {
    width: 50rem;
  }
}/*# sourceMappingURL=style.css.map */